attrs==22.1.0
aws-cdk-lib==2.51.1
aws-cdk.asset-awscli-v1==2.2.16
aws-cdk.asset-kubectl-v20==2.1.1
aws-cdk.asset-node-proxy-agent-v5==2.0.22
aws-cdk.aws-sagemaker-alpha==2.51.1a0
boto3==1.26.15
botocore==1.29.15
cattrs==22.2.0
constructs==10.1.168
exceptiongroup==1.0.4
jmespath==1.0.1
jsii==1.71.0
numpy==1.23.5
publication==0.0.3
python-dateutil==2.8.2
s3transfer==0.6.0
six==1.16.0
sms-spam-classifier-utils==0.1
typeguard==2.13.3
typing_extensions==4.4.0
urllib3==1.26.12
